body {
  background-color: rgb(25, 25, 50);
  color: #fff;
}

/* HEADER */

header nav {
  display: flex;
  justify-content: flex-end;
  background-color: lightblue;
  height: 10vh;
}

header nav ul {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 5vh;
  white-space: nowrap;
  li {
    a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

#h1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: aquamarine;
}

/* SECTION 1 */

#section-1 {
  padding: 1rem;
  height: 40vh;
  background-color: pink;
  display: flex;
  gap: 1rem;
}

#section-1 aside {
  width: 40%;
}

#section-1 article {
  width: 60%;
}

#section-1 aside,
#section-1 article {
  background-color: #fff;
  height: 100%;
}

#section-1 aside video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* SECTION 2 */

#section-2 {
  height: 40vh;
  background-color: lightgoldenrodyellow;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

#section-2-left {
  width: 60%;
}

#section-2-right {
  width: 40%;
}

#section-2-left,
#section-2-right {
  height: 100%;
  background-color: #fff;
}

/* SECTION 2 LEFT */

#section-2-left article {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* SECTION 2 RIGHT */

#section-2-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: lightgoldenrodyellow;
}

#section-2-bottom {
  display: flex;
  gap: 1rem;
}

#section-2-bottom,
#section-2-right article {
  height: 50%;
}

#section-2-right article {
  background-color: aquamarine;
}

#section-2-bottom aside,
#section-2-bottom article {
  width: 50%;
  background-color: aquamarine;
  height: 100%;
}

/* FOOTER */

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
  /* NAV */
  header nav {
    justify-content: center;
  }
  header nav ul {
    margin: 0;
    gap: 3rem;
  }
  /* SECTION 1 */
  #section-1 {
    flex-direction: column;
  }
  #section-1 aside,
  #section-1 article {
    width: 100%;
    height: 50%;
  }
  /* SECTION 2 */
  #section-2 {
    flex-direction: column;
    height: 80vh;
  }
  #section-2-left,
  #section-2-right {
    width: 100%;
  }
  #section-2-bottom {
    flex-direction: column;
  }
  #section-2-bottom aside,
  #section-2-bottom article {
    width: 100%;
  }
}
